.todo{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 15px 0;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 2px solid #555;
    color: #112d49;
    background-color: #fbfef9;
    user-select: none;
    width: 600px;
    box-shadow: #fbfef9 0px 0px 10px;
}

.todoText {
    width: 100%;
    text-align: left;
}

.todoIcon {
    margin-right: 10px;
    color: #5bce0f;
}

.deleteIcon {
    cursor: pointer;
    color: #451a1a;
    margin-right: 20px;
    font-weight: bold;
}

.deleteIcon:hover {
    color: red;
}

.chackIcon {
    cursor: pointer;
    color: #015323;
    margin-right: 20px;
    font-weight: bold;;
}

.chackIcon:hover {
    color: green;
}
