.App {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

body {
  background-color: #282c34;
  color: white;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
  background: #3c414c;
  padding: 10px;
  border-radius: 5px;
}

